openapi: 3.1.0
info:
  title: FX Account API
  version: 1.0.0
  description: API for managing multi-currency accounts on the Trace FX platform.
servers:
  - url: https://faas.sandbox.tracefinance.io/account
    description: Sandbox
  - url: https://faas.tracefinance.io/account
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Accounts
    description: Create, list, and manage multi-currency accounts.
  - name: Beneficial owners
    description: Manage beneficial owners (UBOs) for company-owned accounts.
  - name: Documents
    description: Upload documents to fulfill account and UBO requirements.
  - name: Funding instructions
    description: Retrieve funding instructions for depositing into an account.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Auth0 JWT token. Include as `Authorization: Bearer <token>`."
  parameters:
    AccountId:
      name: accountId
      in: path
      required: true
      description: UUID of the account.
      schema:
        type: string
        format: uuid
    UboId:
      name: uboId
      in: path
      required: true
      description: UUID of the beneficial owner.
      schema:
        type: string
        format: uuid
    TraceVersion:
      name: X-Trace-Version
      in: header
      required: false
      description: API version. Omit to use the default version.
      schema:
        type: string
        example: "1"
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      description: Unique key to ensure idempotent request processing.
      schema:
        type: string
        format: uuid
    PaginationLimit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return. Defaults to 10.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    PaginationCursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for fetching the next or previous page.
      schema:
        type: string
    PaginationDirection:
      name: direction
      in: query
      required: false
      description: Direction of pagination relative to the cursor.
      schema:
        type: string
        enum:
          - NEXT
          - PREVIOUS
    PaginationSortOrder:
      name: sortOrder
      in: query
      required: false
      description: Sort order for results. Defaults to DESCENDING.
      schema:
        type: string
        enum:
          - ASCENDING
          - DESCENDING
        default: DESCENDING
    PaginationIncludeTotalMatches:
      name: includeTotalMatches
      in: query
      required: false
      description: Whether to include the total number of matching records in the response metadata.
      schema:
        type: boolean
        default: false
  schemas:
    # ── Request schemas ──────────────────────────────────────────────
    CreateAccountRequest:
      type: object
      description: Request body for creating a new account.
      properties:
        assets:
          type: array
          description: Desired asset currencies. At least one required; each code must be unique.
          minItems: 1
          items:
            $ref: "#/components/schemas/AssetRequest"
        owner:
          $ref: "#/components/schemas/OwnerRequest"
      required:
        - assets
        - owner
    AssetRequest:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/Currency"
        isVirtual:
          type: boolean
          description: Whether this is a virtual (non-custodial) asset.
          example: false
      required:
        - code
        - isVirtual
    OwnerRequest:
      description: The legal entity that owns the account. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/CompanyOwnerRequest"
        - $ref: "#/components/schemas/IndividualOwnerRequest"
      discriminator:
        propertyName: type
        mapping:
          COMPANY: "#/components/schemas/CompanyOwnerRequest"
          INDIVIDUAL: "#/components/schemas/IndividualOwnerRequest"
    CompanyOwnerRequest:
      title: Company
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPANY
        legalName:
          type: string
          description: Registered legal name of the company.
          example: "Acme Ltda"
        taxId:
          $ref: "#/components/schemas/TaxIdRequest"
        industry:
          type: string
          description: Industry classification.
          enum:
            - ACCOUNTING
            - ADVERTISING__MARKETING
            - AEROSPACE__DEFENSE
            - AGRICULTURE__FORESTRY
            - AMUSEMENT_AND_RECREATION
            - AUTOMOTIVE
            - CONSTRUCTION__CARPENTRY__LANDSCAPING
            - CUSTOMER_SERVICE_AND_SUPPORT
            - EDUCATION
            - ENERGY
            - ENGINEERING
            - FINANCIAL_SERVICES
            - HEALTHCARE__MEDICAL_SERVICES
            - HOTEL__HOSPITALITY
            - INFORMATION_TECHNOLOGY
            - MANUFACTURING
            - MEDIA__ENTERTAINMENT
            - MINING_OIL_AND_GAS
            - NON_PROFIT__NGO__CHARITY
            - PHARMACEUTICALS
            - PRINTING__PUBLISHING
            - REAL_ESTATE
            - RESTAURANT__FOOD_SERVICE
            - RETAIL_SALES__RETAIL_TRADE
            - SECURITY
            - TRANSPORTATION
            - TRAVEL
            - UTILITIES
            - WHOLESALE
            - OTHERS
          example: "INFORMATION_TECHNOLOGY"
        incorporateDate:
          type: string
          format: date
          nullable: true
          description: Company incorporation date in ISO format (yyyy-MM-dd). Optional.
          example: "2018-05-12"
        address:
          $ref: "#/components/schemas/AddressRequest"
      required:
        - type
        - legalName
        - taxId
        - industry
        - address
    IndividualOwnerRequest:
      title: Individual
      type: object
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        firstName:
          type: string
          description: First name of the individual.
          example: "Maria"
        lastName:
          type: string
          description: Last name of the individual.
          example: "Silva"
        taxId:
          $ref: "#/components/schemas/TaxIdRequest"
        birthDate:
          type: string
          format: date
          nullable: true
          description: Date of birth in ISO format (yyyy-MM-dd). Optional.
          example: "1990-03-21"
        address:
          $ref: "#/components/schemas/AddressRequest"
      required:
        - type
        - firstName
        - lastName
        - taxId
        - address
    TaxIdRequest:
      type: object
      description: Tax identifier for the owner or beneficial owner. Validated against the country and type.
      properties:
        value:
          type: string
          description: Tax identifier digits or alphanumeric value (depending on type).
          example: "11222333000181"
        type:
          $ref: "#/components/schemas/TaxIdType"
        country:
          $ref: "#/components/schemas/Country"
      required:
        - value
        - type
        - country
    AddressRequest:
      type: object
      properties:
        addressLine1:
          type: string
          example: "Rua das Flores, 100"
        addressLine2:
          type: string
          nullable: true
          example: "Suite 456"
        city:
          type: string
          example: "São Paulo"
        state:
          type: string
          example: "SP"
        country:
          $ref: "#/components/schemas/Country"
        postalCode:
          type: string
          example: "01234-567"
      required:
        - addressLine1
        - city
        - state
        - country
        - postalCode
    UBORequest:
      type: object
      description: Request body for adding a beneficial owner.
      properties:
        name:
          type: string
          description: Full legal name of the beneficial owner.
          example: "João Silva"
        taxId:
          $ref: "#/components/schemas/TaxIdRequest"
        address:
          $ref: "#/components/schemas/AddressRequest"
        ownershipPercentage:
          type: number
          format: double
          nullable: true
          description: Percentage of ownership. Optional.
          example: 50.0
      required:
        - name
        - taxId
        - address
    UpdateUBORequest:
      type: object
      description: Request body for updating a beneficial owner. All fields are optional (patch semantics).
      properties:
        name:
          type: string
          description: Full legal name of the beneficial owner.
          example: "João Silva"
        taxId:
          $ref: "#/components/schemas/TaxIdRequest"
        address:
          $ref: "#/components/schemas/AddressRequest"
        ownershipPercentage:
          type: number
          format: double
          nullable: true
          description: Percentage of ownership.
          example: 75.0

    # ── Response schemas ─────────────────────────────────────────────
    AccountResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        sourceAccountId:
          type: string
          format: uuid
          nullable: true
          description: Parent account ID. Null for named accounts.
          example: null
        customer:
          $ref: "#/components/schemas/CustomerResponse"
        owner:
          $ref: "#/components/schemas/OwnerResponse"
        assets:
          type: array
          description: Assets enabled on the account, with the onboarding status of the underlying provider account.
          items:
            $ref: "#/components/schemas/AssetResponse"
        requirements:
          $ref: "#/components/schemas/RequirementsResponse"
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagResponse"
        currentState:
          $ref: "#/components/schemas/AccountState"
        states:
          type: array
          description: Full state history of the account.
          items:
            $ref: "#/components/schemas/AccountState"
        createdAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00Z"
      required:
        - id
        - customer
        - owner
        - assets
        - requirements
        - tags
        - currentState
        - states
        - createdAt
        - updatedAt
    AssetResponse:
      type: object
      description: An asset available on the account and the onboarding status of its underlying provider account.
      properties:
        currency:
          $ref: "#/components/schemas/Currency"
        allowsVirtualAccounts:
          type: boolean
          description: Whether virtual accounts can be issued for this asset.
          example: false
        status:
          type: string
          description: Onboarding status of the provider account that custodies this asset.
          enum:
            - ONBOARDING
            - ACTIVE
            - FAILED
            - FROZEN
            - DEACTIVATED
          example: "ONBOARDING"
      required:
        - currency
        - allowsVirtualAccounts
        - status
    CustomerResponse:
      type: object
      properties:
        id:
          type: string
          description: Customer identifier.
          example: "c1a2b3c4-d5e6-7890-abcd-ef1234567890"
      required:
        - id
    OwnerResponse:
      description: The legal entity that owns the account. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/CompanyOwnerResponse"
        - $ref: "#/components/schemas/IndividualOwnerResponse"
      discriminator:
        propertyName: type
        mapping:
          COMPANY: "#/components/schemas/CompanyOwnerResponse"
          INDIVIDUAL: "#/components/schemas/IndividualOwnerResponse"
    CompanyOwnerResponse:
      title: Company
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPANY
        legalName:
          type: string
          example: "Acme Ltda"
        taxId:
          $ref: "#/components/schemas/TaxIdResponse"
        industry:
          type: string
          example: "INFORMATION_TECHNOLOGY"
        address:
          $ref: "#/components/schemas/AddressResponse"
        ubos:
          type: array
          items:
            $ref: "#/components/schemas/UBOResponse"
      required:
        - type
        - legalName
        - taxId
        - industry
        - address
        - ubos
    IndividualOwnerResponse:
      title: Individual
      type: object
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        firstName:
          type: string
          example: "Maria"
        lastName:
          type: string
          example: "Silva"
        taxId:
          $ref: "#/components/schemas/TaxIdResponse"
        address:
          $ref: "#/components/schemas/AddressResponse"
      required:
        - type
        - firstName
        - lastName
        - taxId
        - address
    TaxIdResponse:
      type: object
      description: Tax identifier returned for an owner or beneficial owner.
      properties:
        value:
          type: string
          example: "11222333000181"
        type:
          $ref: "#/components/schemas/TaxIdType"
        country:
          $ref: "#/components/schemas/Country"
      required:
        - value
        - type
        - country
    AddressResponse:
      type: object
      properties:
        addressLine1:
          type: string
          example: "Rua das Flores, 100"
        addressLine2:
          type: string
          nullable: true
          example: "Suite 456"
        city:
          type: string
          example: "São Paulo"
        state:
          type: string
          nullable: true
          example: "SP"
        country:
          $ref: "#/components/schemas/Country"
        postalCode:
          type: string
          example: "01234-567"
      required:
        - addressLine1
        - city
        - country
        - postalCode
    AccountState:
      type: object
      description: A point-in-time state of the account.
      properties:
        status:
          type: string
          enum:
            - ACTION_REQUIRED
            - REVIEWING
            - OPENING
            - ACTIVE
            - REJECTED
            - CLOSED
          example: "ACTION_REQUIRED"
        reason:
          $ref: "#/components/schemas/Reason"
        createdAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00Z"
      required:
        - status
        - createdAt
    UBOState:
      type: object
      description: A point-in-time state of a beneficial owner.
      properties:
        status:
          type: string
          enum:
            - PENDING
            - APPROVED
            - REJECTED
          example: "PENDING"
        reason:
          $ref: "#/components/schemas/Reason"
        createdAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00Z"
      required:
        - status
        - createdAt
    Reason:
      type: object
      nullable: true
      description: Explains why a state transition occurred.
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: "DOCUMENT_REJECTED"
        message:
          type: string
          description: Human-readable description.
          example: "Document is illegible"
        details:
          type: object
          additionalProperties: true
          description: Additional context. May be empty.
          example: {}
      required:
        - code
        - message
        - details
    RequirementsResponse:
      type: object
      description: Requirement buckets grouped by lifecycle stage.
      properties:
        currentlyDue:
          type: array
          description: Requirements pending submission.
          items:
            $ref: "#/components/schemas/RequirementResponse"
        pendingVerification:
          type: array
          description: Submitted requirements awaiting verification.
          items:
            $ref: "#/components/schemas/RequirementResponse"
        errors:
          type: array
          description: Rejected requirements with reasons.
          items:
            $ref: "#/components/schemas/RequirementResponse"
        satisfied:
          type: array
          description: Fulfilled requirements.
          items:
            $ref: "#/components/schemas/RequirementResponse"
      required:
        - currentlyDue
        - pendingVerification
        - errors
        - satisfied
    RequirementResponse:
      type: object
      description: |
        A single requirement. The `type` discriminates between two shapes:
        - `DOCUMENT`: a specific document of a given `documentType` is required.
        - `DOCUMENT_GROUP`: any one document from `options` will satisfy the requirement (e.g., proof of identity can be ID card, passport, or driver's license).
      properties:
        type:
          type: string
          description: Requirement type discriminator.
          enum:
            - DOCUMENT
            - DOCUMENT_GROUP
          example: "DOCUMENT"
        documentType:
          allOf:
            - $ref: "#/components/schemas/DocumentType"
          nullable: true
          description: The specific document type required. Set when `type` is `DOCUMENT`.
        documentSubType:
          allOf:
            - $ref: "#/components/schemas/DocumentSubType"
          nullable: true
          description: >
            Sub-classification of the document. Set when the `documentType`
            requires a specific side (e.g., `FRONT_SIDE` for `ID_CARD`).
        group:
          allOf:
            - $ref: "#/components/schemas/RequirementGroup"
          nullable: true
          description: Group identifier. Set when `type` is `DOCUMENT_GROUP`.
        options:
          type: array
          nullable: true
          description: Acceptable document types. Set when `type` is `DOCUMENT_GROUP`.
          items:
            $ref: "#/components/schemas/DocumentType"
        uboId:
          type: string
          format: uuid
          nullable: true
          description: UBO identifier when the requirement belongs to a beneficial owner. `null` for account-level requirements.
        requiredMetadata:
          type: array
          nullable: true
          description: Metadata keys that must accompany the document upload (e.g., `country`, `number`).
          items:
            type: string
          example: ["country"]
        metadata:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Metadata captured for an already-fulfilled requirement.
        reason:
          $ref: "#/components/schemas/Reason"
      required:
        - type
    DocumentType:
      type: string
      description: Type of document.
      enum:
        - PASSPORT
        - ARTICLES_OF_ASSOCIATION
        - OTHER
        - AGREEMENT
        - DIRECTORS_REGISTRY
        - INCORPORATION_ARTICLES
        - INCORPORATION_CERT
        - PROOF_OF_ADDRESS
        - SHAREHOLDER_REGISTRY
        - POWER_OF_ATTORNEY
        - STATE_REGISTRY
        - EVIDENCE_OF_SOURCE_OF_FUNDS
        - EVIDENCE_OF_SOURCE_OF_WEALTH
        - PROOF_OF_REGULATORY_LICENSE
        - PROOF_OF_BUSINESS_ACTIVITY
        - FUND_FLOW_EXPLANATION
        - AML_POLICY
        - FINANCIAL_STATEMENT
        - ORGANIZATIONAL_CHART
        - SHAREHOLDER_OWNERSHIP
        - WOLFSBERG_QUESTIONNAIRE
        - ID_CARD
        - DRIVER_LICENSE
        - RESIDENCE_PERMIT
        - SELFIE
        - UTILITY_BILL
      example: "ARTICLES_OF_ASSOCIATION"
    DocumentSubType:
      type: string
      description: Sub-classification for documents that have multiple sides.
      enum:
        - FRONT_SIDE
        - BACK_SIDE
      example: "FRONT_SIDE"
    RequirementGroup:
      type: string
      description: Logical group of document types that satisfy the same requirement.
      enum:
        - IDENTITY_VERIFICATION
      example: "IDENTITY_VERIFICATION"
    Currency:
      type: string
      description: Fiat or crypto currency code.
      enum:
        - USD
        - BRL
        - EUR
        - CAD
        - AUD
        - GBP
        - MXN
        - HKD
        - SGD
        - PHP
        - NZD
        - CHF
        - NOK
        - DKK
        - PLN
        - SEK
        - USDC
        - USDT
        - EURC
        - BRLT
      example: "BRL"
    TaxIdType:
      type: string
      description: >
        Country-specific tax identifier type. The `country` field on the same
        TaxId object must match the country implied by the type.
      enum:
        - CPF
        - CNPJ
        - CUIT
        - CUIL
        - RUT_CL
        - RUT_UY
        - CI_UY
        - RUC
        - DNI_PE
        - NIT
        - CC
        - RFC
        - RUC_PY
        - CI_PY
        - NIPC
        - NIF_PT
        - CIF
        - NIF_ES
        - NIE
        - SIREN
        - SIRET
        - NIF_FR
        - PARTITA_IVA
        - CODICE_FISCALE
        - UST_IDNR
        - STEUER_ID
        - KVK
        - BSN
        - BCE
        - NN_BE
        - ORGANISATIONSNUMMER
        - PERSONNUMMER
        - ORGANISASJONSNUMMER
        - FODSELSNUMMER
        - UID_CH
        - AHV
        - VAT_GB
        - NIN
        - EIN
        - SSN
        - ITIN
        - BN_CA
        - SIN
        - ABN
        - TFN
        - USCC
        - CORPORATE_NUMBER_JP
        - MY_NUMBER
        - BRN_KR
        - RRN
        - GSTIN
        - PAN
        - INN_RU
        - COMPANY_NUMBER_IL
        - TEUDAT_ZEHUT
        - TRADE_LICENSE
        - EMIRATES_ID
        - CIPC
        - SA_ID
      example: "CNPJ"
    Country:
      type: string
      description: ISO 3166-1 alpha-2 country code.
      example: "BR"
      enum:
        - AF
        - AL
        - DZ
        - AS
        - AD
        - AO
        - AI
        - AQ
        - AG
        - AR
        - AM
        - AW
        - AU
        - AT
        - AZ
        - BS
        - BH
        - BD
        - BB
        - BY
        - BE
        - BZ
        - BJ
        - BM
        - BT
        - BO
        - BQ
        - BA
        - BW
        - BV
        - BR
        - IO
        - BN
        - BG
        - BF
        - BI
        - CV
        - KH
        - CM
        - CA
        - KY
        - CF
        - TD
        - CL
        - CN
        - CX
        - CC
        - CO
        - KM
        - CD
        - CG
        - CK
        - CR
        - HR
        - CU
        - CW
        - CY
        - CZ
        - CI
        - DK
        - DJ
        - DM
        - DO
        - EC
        - EG
        - SV
        - GQ
        - ER
        - EE
        - SZ
        - ET
        - FK
        - FO
        - FJ
        - FI
        - FR
        - GF
        - PF
        - TF
        - GA
        - GM
        - GE
        - DE
        - GH
        - GI
        - GR
        - GL
        - GD
        - GP
        - GU
        - GT
        - GG
        - GN
        - GW
        - GY
        - HT
        - HM
        - VA
        - HN
        - HK
        - HU
        - IS
        - IN
        - ID
        - IR
        - IQ
        - IE
        - IM
        - IL
        - IT
        - JM
        - JP
        - JE
        - JO
        - KZ
        - KE
        - KI
        - KP
        - KR
        - KW
        - KG
        - LA
        - LV
        - LB
        - LS
        - LR
        - LY
        - LI
        - LT
        - LU
        - MO
        - MG
        - MW
        - MY
        - MV
        - ML
        - MT
        - MH
        - MQ
        - MR
        - MU
        - YT
        - MX
        - FM
        - MD
        - MC
        - MN
        - ME
        - MS
        - MA
        - MZ
        - MM
        - NA
        - NR
        - NP
        - NL
        - NC
        - NZ
        - NI
        - NE
        - NG
        - NU
        - NF
        - MP
        - NO
        - OM
        - PK
        - PW
        - PS
        - PA
        - PG
        - PY
        - PE
        - PH
        - PN
        - PL
        - PT
        - PR
        - QA
        - MK
        - RO
        - RU
        - RW
        - RE
        - BL
        - SH
        - KN
        - LC
        - MF
        - PM
        - VC
        - WS
        - SM
        - ST
        - SA
        - SN
        - RS
        - SC
        - SL
        - SG
        - SX
        - SK
        - SI
        - SB
        - SO
        - ZA
        - GS
        - SS
        - ES
        - LK
        - SD
        - SR
        - SJ
        - SE
        - CH
        - SY
        - TW
        - TJ
        - TZ
        - TH
        - TL
        - TG
        - TK
        - TO
        - TT
        - TN
        - TR
        - TM
        - TC
        - TV
        - UG
        - UA
        - AE
        - GB
        - UM
        - US
        - UY
        - UZ
        - VU
        - VE
        - VN
        - VG
        - VI
        - WF
        - EH
        - YE
        - ZM
        - ZW
        - AX
    TagResponse:
      type: object
      properties:
        key:
          type: string
          nullable: true
        value:
          type: string
      required:
        - value
    UBOResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
        name:
          type: string
          example: "João Silva"
        taxId:
          $ref: "#/components/schemas/TaxIdResponse"
        address:
          $ref: "#/components/schemas/AddressResponse"
        ownershipPercentage:
          type: number
          format: double
          nullable: true
          example: 50.0
        currentState:
          $ref: "#/components/schemas/UBOState"
      required:
        - id
        - name
        - taxId
        - address
        - currentState
    Rail:
      type: string
      description: Payment rail used to fund a deposit.
      enum:
        - PIX_KEY
        - PIX_STATIC_QR_CODE
        - PIX_DYNAMIC_QR_CODE
        - PIX_BANK_INSTRUCTION
        - BOLETO
        - CRYPTO
        - TED
        - WIRE
        - SWIFT
        - SEPA
        - ACH
    FundingInstructionResponse:
      description: A funding instruction for depositing into an account. Discriminated by `rail`.
      oneOf:
        - $ref: "#/components/schemas/PixKeyFundingInstruction"
        - $ref: "#/components/schemas/PixStaticQrCodeFundingInstruction"
        - $ref: "#/components/schemas/TedFundingInstruction"
        - $ref: "#/components/schemas/BoletoFundingInstruction"
        - $ref: "#/components/schemas/CryptoWalletFundingInstruction"
      discriminator:
        propertyName: rail
        mapping:
          PIX_KEY: "#/components/schemas/PixKeyFundingInstruction"
          PIX_STATIC_QR_CODE: "#/components/schemas/PixStaticQrCodeFundingInstruction"
          TED: "#/components/schemas/TedFundingInstruction"
          BOLETO: "#/components/schemas/BoletoFundingInstruction"
          CRYPTO: "#/components/schemas/CryptoWalletFundingInstruction"
    FundingInstructionBase:
      type: object
      properties:
        asset:
          $ref: "#/components/schemas/Currency"
        rail:
          $ref: "#/components/schemas/Rail"
      required:
        - asset
        - rail
    PixKeyFundingInstruction:
      title: PIX key
      allOf:
        - $ref: "#/components/schemas/FundingInstructionBase"
        - type: object
          properties:
            rail:
              type: string
              enum:
                - PIX_KEY
            keyType:
              type: string
              description: PIX key type.
              enum:
                - CPF
                - CNPJ
                - EMAIL
                - PHONE
                - RANDOM
              example: "CNPJ"
            key:
              type: string
              description: The PIX key value.
              example: "12345678000101"
          required:
            - keyType
            - key
    PixStaticQrCodeFundingInstruction:
      title: PIX static QR code
      allOf:
        - $ref: "#/components/schemas/FundingInstructionBase"
        - type: object
          properties:
            rail:
              type: string
              enum:
                - PIX_STATIC_QR_CODE
            qrCode:
              type: string
              description: Static QR code payload (EMV format).
              example: "00020126580014br.gov.bcb.pix..."
          required:
            - qrCode
    TedFundingInstruction:
      title: TED
      allOf:
        - $ref: "#/components/schemas/FundingInstructionBase"
        - type: object
          properties:
            rail:
              type: string
              enum:
                - TED
            bankCode:
              type: string
              description: Bank code (ISPB or COMPE).
              example: "001"
            branch:
              type: string
              description: Branch number.
              example: "0001"
            accountNumber:
              type: string
              description: Account number.
              example: "123456-7"
            accountType:
              type: string
              description: Type of bank account.
              example: "CHECKING"
          required:
            - bankCode
            - branch
            - accountNumber
            - accountType
    BoletoFundingInstruction:
      title: Boleto
      allOf:
        - $ref: "#/components/schemas/FundingInstructionBase"
        - type: object
          properties:
            rail:
              type: string
              enum:
                - BOLETO
            barcode:
              type: string
              description: Boleto barcode (digitable line).
              example: "23793.38128 60800.000003 00000.000400 1 84340000012345"
            dueDate:
              type: string
              format: date-time
              description: Payment due date.
              example: "2026-04-04T00:00:00Z"
          required:
            - barcode
            - dueDate
    CryptoWalletFundingInstruction:
      title: Crypto wallet
      allOf:
        - $ref: "#/components/schemas/FundingInstructionBase"
        - type: object
          properties:
            rail:
              type: string
              enum:
                - CRYPTO
            network:
              type: string
              description: Blockchain network.
              example: "ETHEREUM"
            walletAddress:
              type: string
              description: Deposit wallet address.
              example: "0x1234567890abcdef1234567890abcdef12345678"
          required:
            - network
            - walletAddress
    UploadDocumentRequest:
      type: object
      description: >
        JSON payload accompanying the document file in the multipart request.
        Sent as the `body` part with `Content-Type: application/json`.
      properties:
        documentType:
          allOf:
            - $ref: "#/components/schemas/DocumentType"
          description: >
            The type of document being uploaded. Must match a `documentType`
            listed in the account's `requirements.currentlyDue` array (or, for
            grouped requirements, appear in `options`).
        documentSubType:
          allOf:
            - $ref: "#/components/schemas/DocumentSubType"
          nullable: true
          description: >
            Sub-classification of the document. Required for document types
            that have sides (e.g., `ID_CARD`, `DRIVER_LICENSE`).
        holder:
          $ref: "#/components/schemas/HolderRequest"
        metadata:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: >
            Additional metadata required by the document type. Keys must match
            the `requiredMetadata` listed on the requirement (e.g., `country`,
            `number`).
          example:
            country: "BR"
      required:
        - documentType
        - holder
    HolderRequest:
      type: object
      description: >
        Identifies who the document belongs to. Use `ACCOUNT` with the account
        ID for account-level documents, or `UBO` with the UBO ID for documents
        belonging to a specific beneficial owner.
      properties:
        type:
          type: string
          enum:
            - ACCOUNT
            - UBO
          example: "ACCOUNT"
        referenceId:
          type: string
          format: uuid
          description: Account ID when `type=ACCOUNT`; UBO ID when `type=UBO`.
          example: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
      required:
        - type
        - referenceId
    PageMetadata:
      type: object
      properties:
        previous:
          type: string
          nullable: true
          description: Cursor for the previous page.
        next:
          type: string
          nullable: true
          description: Cursor for the next page.
        count:
          type: integer
          description: Number of items in the current page.
        totalMatches:
          type: integer
          nullable: true
          description: Total number of matching records. Only present when `includeTotalMatches` is true.
      required:
        - count
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable description.
        details:
          type: object
          additionalProperties: true
      required:
        - code
        - message
  responses:
    UnauthorizedError:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalidToken:
              $ref: "#/components/examples/InvalidToken"
            expiredToken:
              $ref: "#/components/examples/ExpiredToken"
  examples:
    InvalidToken:
      summary: Bearer token is invalid or malformed
      value:
        code: "INVALID_ACCESS_TOKEN"
        message: "Invalid access token"
        details: {}
    ExpiredToken:
      summary: Bearer token has expired
      value:
        code: "EXPIRED_ACCESS_TOKEN"
        message: "Expired access token"
        details: {}
    AccountNotFound:
      summary: Account does not exist for the authenticated customer
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "Account with given parameters [Account.id:5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c, Customer.id:c1a2b3c4-d5e6-7890-abcd-ef1234567890] not found"
        details:
          resource: "Account"
          parameters:
            Account.id: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
            Customer.id: "c1a2b3c4-d5e6-7890-abcd-ef1234567890"
    UboNotFound:
      summary: Beneficial owner does not exist on the account
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "UBO with given parameters [UBO.id:a1b2c3d4-e5f6-7890-1234-567890abcdef] not found"
        details:
          resource: "UBO"
          parameters:
            UBO.id: "a1b2c3d4-e5f6-7890-1234-567890abcdef"

paths:
  # ── Account endpoints ────────────────────────────────────────────
  /api/accounts:
    post:
      operationId: createAccount
      tags:
        - Accounts
      summary: Create an account
      description: Creates a new multi-currency account for the authenticated customer.
      parameters:
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
            examples:
              company:
                summary: Company-owned account
                value:
                  assets:
                    - code: "BRL"
                      isVirtual: false
                  owner:
                    type: "COMPANY"
                    legalName: "Acme Ltda"
                    taxId:
                      value: "11222333000181"
                      type: "CNPJ"
                      country: "BR"
                    industry: "INFORMATION_TECHNOLOGY"
                    incorporateDate: "2018-05-12"
                    address:
                      addressLine1: "Rua das Flores, 100"
                      addressLine2: "Suite 456"
                      city: "São Paulo"
                      state: "SP"
                      country: "BR"
                      postalCode: "01234-567"
              individual:
                summary: Individually-owned account
                value:
                  assets:
                    - code: "BRL"
                      isVirtual: false
                  owner:
                    type: "INDIVIDUAL"
                    firstName: "Maria"
                    lastName: "Silva"
                    taxId:
                      value: "12345678909"
                      type: "CPF"
                      country: "BR"
                    birthDate: "1990-03-21"
                    address:
                      addressLine1: "Rua das Flores, 100"
                      city: "São Paulo"
                      state: "SP"
                      country: "BR"
                      postalCode: "01234-567"
      responses:
        "201":
          description: Account created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidTaxId:
                  summary: Owner taxId fails the country/type-specific validator
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "VALIDATE_TAX_ID"
                          message: "Tax ID is invalid for the given type and country"
                          field: "body:owner.taxId.value"
                          params: {}
                unsupportedAsset:
                  summary: Requested asset code is not supported
                  value:
                    code: "UNSUPPORTED_ASSET"
                    message: "Asset not supported by any provider: asset=ETH"
                    details:
                      asset: "ETH"
                invalidData:
                  summary: Request body failed validation
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:assets' not found in request"
                          field: "body:assets"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                customerNotFound:
                  summary: Customer not found for the authenticated token
                  value:
                    code: "RESOURCE_NOT_FOUND"
                    message: "Customer with given parameters [id:c1a2b3c4-d5e6-7890-abcd-ef1234567890] not found"
                    details:
                      resource: "Customer"
                      parameters:
                        id: "c1a2b3c4-d5e6-7890-abcd-ef1234567890"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Individual-owned account cannot have UBOs
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"
    get:
      operationId: listAccounts
      tags:
        - Accounts
      summary: List accounts
      description: Lists all accounts for the authenticated customer. Results are paginated using cursor-based pagination.
      parameters:
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/PaginationLimit"
        - $ref: "#/components/parameters/PaginationCursor"
        - $ref: "#/components/parameters/PaginationDirection"
        - $ref: "#/components/parameters/PaginationSortOrder"
        - $ref: "#/components/parameters/PaginationIncludeTotalMatches"
      responses:
        "200":
          description: Paginated list of accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountResponse"
                  meta:
                    $ref: "#/components/schemas/PageMetadata"
                required:
                  - data
                  - meta
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /api/accounts/{accountId}:
    get:
      operationId: getAccount
      tags:
        - Accounts
      summary: Get an account
      description: Retrieves the details of an account by its ID.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: Account details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "400":
          description: Invalid account ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidUuid:
                  summary: accountId path parameter is not a valid UUID
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_UUID"
                          message: "'not-a-uuid' cannot be converted to UUID"
                          field: "path:accountId"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"

  /api/accounts/{accountId}/review:
    post:
      operationId: submitAccountForReview
      tags:
        - Accounts
      summary: Submit account for review
      description: Submits an account for compliance review. All required documents and data must be provided before calling this endpoint.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Account submitted for review.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
        "409":
          description: Account state conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                noProviderAccountRequiresAnalysis:
                  summary: Account has no provider accounts awaiting analysis
                  value:
                    code: "NO_PROVIDER_ACCOUNT_REQUIRES_ANALYSIS"
                    message: "Account has no provider accounts requiring analysis"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                reviewAlreadySubmitted:
                  summary: Review has already been submitted for the account
                  value:
                    code: "REVIEW_ALREADY_SUBMITTED"
                    message: "Review already submitted for account"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingDocumentsForReview:
                  summary: Required documents are missing or rejected
                  value:
                    code: "MISSING_DOCUMENTS_FOR_REVIEW"
                    message: "Not all documents uploaded for review submission"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                      missingDocumentTypes:
                        - "ARTICLES_OF_ASSOCIATION"
                        - "PROOF_OF_ADDRESS"
                missingUboVerification:
                  summary: Company account has no approved UBOs
                  value:
                    code: "MISSING_DOCUMENTS_FOR_REVIEW"
                    message: "Not all documents uploaded for review submission"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                      missingDocumentTypes:
                        - "UBO_VERIFICATION"

  # ── Funding instructions ─────────────────────────────────────────
  /api/accounts/{accountId}/fundingInstructions:
    get:
      operationId: listFundingInstructions
      tags:
        - Funding instructions
      summary: List funding instructions
      description: Retrieves funding instructions for depositing into an account. Returns all available payment rails (PIX, TED, Boleto, crypto).
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: List of funding instructions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FundingInstructionResponse"
              examples:
                mixed:
                  summary: PIX and TED instructions
                  value:
                    - asset: "BRL"
                      rail: "PIX_KEY"
                      keyType: "CNPJ"
                      key: "12345678000101"
                    - asset: "BRL"
                      rail: "TED"
                      bankCode: "001"
                      branch: "0001"
                      accountNumber: "123456-7"
                      accountType: "CHECKING"
        "400":
          description: Invalid account ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidUuid:
                  summary: accountId path parameter is not a valid UUID
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_UUID"
                          message: "'not-a-uuid' cannot be converted to UUID"
                          field: "path:accountId"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"

  # ── Documents ────────────────────────────────────────────────────
  /api/documents:
    post:
      operationId: uploadDocument
      tags:
        - Documents
      summary: Upload a document
      description: >
        Uploads a document to fulfill an account or beneficial owner requirement.

        The same endpoint serves account-level and UBO-level documents — set
        `holder.type` to `ACCOUNT` with the account ID, or to `UBO` with the
        beneficial owner ID, in the JSON `body` part.
      parameters:
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                body:
                  $ref: "#/components/schemas/UploadDocumentRequest"
                file:
                  type: string
                  format: binary
                  description: Document file content.
              required:
                - body
                - file
            encoding:
              body:
                contentType: application/json
            examples:
              accountDocument:
                summary: Account-level document (e.g., articles of association)
                value:
                  body:
                    documentType: "ARTICLES_OF_ASSOCIATION"
                    holder:
                      type: "ACCOUNT"
                      referenceId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
              uboIdentity:
                summary: UBO identity document with sub-type and metadata
                value:
                  body:
                    documentType: "ID_CARD"
                    documentSubType: "FRONT_SIDE"
                    holder:
                      type: "UBO"
                      referenceId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    metadata:
                      country: "BR"
      responses:
        "204":
          description: Document uploaded.
        "400":
          description: Invalid request or missing multipart fields.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                emptyFile:
                  summary: Uploaded file is empty
                  value:
                    code: "EMPTY_FILE"
                    message: "File must not be empty: fieldName=file"
                    details:
                      fieldName: "file"
                missingMultipartField:
                  summary: Required multipart field is missing
                  value:
                    code: "MISSING_MULTIPART_FIELD"
                    message: "Missing required multipart field: fieldName=body"
                    details:
                      fieldName: "body"
                fileTooLarge:
                  summary: Uploaded file exceeds the maximum allowed size
                  value:
                    code: "FILE_TOO_LARGE"
                    message: "File size exceeds the maximum allowed"
                    details:
                      fileSizeBytes: 12000000
                      maxSizeBytes: 10000000
                unsupportedFileType:
                  summary: Uploaded file type is not allowed
                  value:
                    code: "UNSUPPORTED_FILE_TYPE"
                    message: "Unsupported file type"
                    details:
                      detected: "EXECUTABLE"
                invalidReferenceId:
                  summary: holder.referenceId is not a valid UUID
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_UUID"
                          message: "'not-a-uuid' cannot be converted to UUID"
                          field: "body:holder.referenceId"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account or beneficial owner not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
                uboNotFound:
                  $ref: "#/components/examples/UboNotFound"

  # ── Beneficial owner endpoints ───────────────────────────────────
  /api/accounts/{accountId}/ubos:
    post:
      operationId: addUbo
      tags:
        - Beneficial owners
      summary: Add a beneficial owner
      description: Adds a beneficial owner (UBO) to a company-owned account.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UBORequest"
            examples:
              basic:
                summary: Add a UBO
                value:
                  name: "João Silva"
                  taxId:
                    value: "12345678909"
                    type: "CPF"
                    country: "BR"
                  address:
                    addressLine1: "Rua das Flores, 100"
                    city: "São Paulo"
                    state: "SP"
                    country: "BR"
                    postalCode: "01234-567"
                  ownershipPercentage: 50.0
      responses:
        "201":
          description: Beneficial owner added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UBOResponse"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidTaxId:
                  summary: UBO taxId fails the country/type-specific validator
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "VALIDATE_TAX_ID"
                          message: "Tax ID is invalid for the given type and country"
                          field: "body:taxId.value"
                          params: {}
                invalidData:
                  summary: Request body failed validation
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:name' not found in request"
                          field: "body:name"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
        "409":
          description: UBO already exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                duplicateUbo:
                  summary: A UBO with this taxId is already registered on the account
                  value:
                    code: "DUPLICATE_UBO"
                    message: "A UBO with this tax ID already exists"
                    details:
                      taxId: "12345678900"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Account has an individual owner (UBOs apply only to companies)
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"
                accountNotModifiable:
                  summary: Account is not in a modifiable state (e.g., already under review)
                  value:
                    code: "ACCOUNT_NOT_MODIFIABLE"
                    message: "Account is not in a modifiable state"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                insufficientOwnership:
                  summary: UBO ownership percentage is below the 25% threshold
                  value:
                    code: "INSUFFICIENT_OWNERSHIP"
                    message: "Partner ownership percentage must be at least 25%"
                    details:
                      taxId: "12345678900"
                      ownershipPercentage: 10.0
    get:
      operationId: listUbos
      tags:
        - Beneficial owners
      summary: List beneficial owners
      description: Lists all beneficial owners for an account.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: List of beneficial owners.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UBOResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Account has an individual owner (UBOs apply only to companies)
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"

  /api/accounts/{accountId}/ubos/{uboId}:
    get:
      operationId: getUbo
      tags:
        - Beneficial owners
      summary: Get a beneficial owner
      description: Retrieves a specific beneficial owner by ID.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/UboId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: Beneficial owner details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UBOResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account or beneficial owner not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
                uboNotFound:
                  $ref: "#/components/examples/UboNotFound"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Account has an individual owner (UBOs apply only to companies)
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"
    patch:
      operationId: updateUbo
      tags:
        - Beneficial owners
      summary: Update a beneficial owner
      description: Updates a beneficial owner. All fields are optional (patch semantics) — only provided fields are updated.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/UboId"
        - $ref: "#/components/parameters/TraceVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUBORequest"
            examples:
              nameOnly:
                summary: Update name only
                value:
                  name: "João Carlos Silva"
              full:
                summary: Update all fields
                value:
                  name: "João Carlos Silva"
                  taxId:
                    value: "98765432100"
                    type: "CPF"
                    country: "BR"
                  address:
                    addressLine1: "Av. Paulista, 1000"
                    city: "São Paulo"
                    state: "SP"
                    country: "BR"
                    postalCode: "01310-100"
                  ownershipPercentage: 75.0
      responses:
        "200":
          description: Beneficial owner updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UBOResponse"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidTaxId:
                  summary: UBO taxId fails the country/type-specific validator
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "VALIDATE_TAX_ID"
                          message: "Tax ID is invalid for the given type and country"
                          field: "body:taxId.value"
                          params: {}
                invalidData:
                  summary: Request body failed validation
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:name' not found in request"
                          field: "body:name"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account or beneficial owner not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
                uboNotFound:
                  $ref: "#/components/examples/UboNotFound"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Account has an individual owner (UBOs apply only to companies)
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"
                accountNotModifiable:
                  summary: Account is not in a modifiable state
                  value:
                    code: "ACCOUNT_NOT_MODIFIABLE"
                    message: "Account is not in a modifiable state"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                approvedUbo:
                  summary: Cannot modify a UBO that has already been approved
                  value:
                    code: "APPROVED_UBO"
                    message: "Cannot modify an approved UBO"
                    details:
                      uboId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                insufficientOwnership:
                  summary: UBO ownership percentage is below the 25% threshold
                  value:
                    code: "INSUFFICIENT_OWNERSHIP"
                    message: "Partner ownership percentage must be at least 25%"
                    details:
                      taxId: "12345678900"
                      ownershipPercentage: 10.0
    delete:
      operationId: removeUbo
      tags:
        - Beneficial owners
      summary: Remove a beneficial owner
      description: Removes a beneficial owner from an account.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/UboId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "204":
          description: Beneficial owner removed.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account or beneficial owner not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
                uboNotFound:
                  $ref: "#/components/examples/UboNotFound"
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                ubosNotAllowedForIndividual:
                  summary: Account has an individual owner (UBOs apply only to companies)
                  value:
                    code: "UBOS_NOT_ALLOWED_FOR_INDIVIDUAL"
                    message: "UBOs are not allowed for individual accounts"
                    details:
                      taxId: "12345678900"
                accountNotModifiable:
                  summary: Account is not in a modifiable state
                  value:
                    code: "ACCOUNT_NOT_MODIFIABLE"
                    message: "Account is not in a modifiable state"
                    details:
                      accountId: "5b7c1f2a-3d4e-4f8a-9b1c-2d3e4f5a6b7c"
                approvedUbo:
                  summary: Cannot remove a UBO that has already been approved
                  value:
                    code: "APPROVED_UBO"
                    message: "Cannot modify an approved UBO"
                    details:
                      uboId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"

