openapi: 3.1.1
info:
  title: Trace FX Payments API
  version: 1.0.0
  description: |
    API for deposits, withdrawals, swaps, and beneficiary management
    on the Trace FX platform.
servers:
  - url: https://faas.sandbox.tracefinance.io/payment
    description: Sandbox
  - url: https://faas.tracefinance.io/payment
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Operations
    description: Create deposits, withdrawals, and swaps. Query operation status and history.
  - name: Beneficiaries
    description: Manage external beneficiaries and their payment instructions for withdrawals.
  - name: Payment instructions
    description: Add or remove payment instructions on an existing beneficiary.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Auth0 JWT token. Include as `Authorization: Bearer <token>`."
  parameters:
    OperationId:
      name: operationId
      in: path
      required: true
      description: UUID of the operation.
      schema:
        type: string
        format: uuid
    BeneficiaryId:
      name: beneficiaryId
      in: path
      required: true
      description: UUID of the beneficiary.
      schema:
        type: string
        format: uuid
    PaymentInstructionId:
      name: paymentInstructionId
      in: path
      required: true
      description: UUID of the payment instruction.
      schema:
        type: string
        format: uuid
    TraceVersion:
      name: X-Trace-Version
      in: header
      required: false
      description: API version. Omit to use the default version.
      schema:
        type: string
        example: "1"
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: true
      description: Unique key to ensure idempotent request processing.
      schema:
        type: string
        format: uuid
    PaginationLimit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return. Defaults to 20.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    PaginationCursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for fetching the next page.
      schema:
        type: string
  schemas:
    # ── Shared value objects ──────────────────────────────────────────
    Asset:
      type: string
      enum:
        - USD
        - BRL
        - EUR
        - CAD
        - AUD
        - GBP
        - MXN
        - HKD
        - SGD
        - PHP
        - NZD
        - CHF
        - NOK
        - DKK
        - PLN
        - SEK
        - USDC
        - USDT
        - EURC
        - BRLT
      description: |
        ISO 4217 currency code or stablecoin ticker. The maximum decimal scale of an
        `AmountValue` paired with this asset depends on the asset:

        | Asset | Decimals | Asset | Decimals |
        |---|---|---|---|
        | USD | 2 | NZD | 2 |
        | BRL | 2 | CHF | 2 |
        | EUR | 2 | NOK | 2 |
        | CAD | 2 | DKK | 2 |
        | AUD | 2 | PLN | 2 |
        | GBP | 2 | SEK | 2 |
        | MXN | 2 | USDC | 6 |
        | HKD | 2 | USDT | 6 |
        | SGD | 2 | EURC | 6 |
        | PHP | 2 | BRLT | 6 |
      example: "BRL"
    AmountValue:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
      description: |
        Decimal monetary amount in the associated asset. The number of fractional digits must
        not exceed the asset's precision — see `Asset` for the per-asset table. Exceeding the
        precision fails with `INVALID_AMOUNT_PRECISION`.
      example: "500.00"
    AmountResponse:
      type: object
      description: |
        Monetary amount returned by the API. Carries both an integer (for arithmetic) and a
        decimal string (for display) so callers don't need to know per-asset precision upfront.
        Request bodies use the scalar `AmountValue` instead.
      properties:
        value:
          type: integer
          description: Amount in minor units of `asset` (e.g., 50000 = 500.00 BRL).
          example: 50000
        decimalValue:
          type: string
          pattern: '^-?\d+(\.\d+)?$'
          description: Decimal representation in the asset's canonical scale.
          example: "500.00"
        asset:
          $ref: "#/components/schemas/Asset"
        decimals:
          type: integer
          description: Number of fractional digits used to render `value` as `decimalValue`.
          example: 2
      required:
        - value
        - decimalValue
        - asset
        - decimals
    Rate:
      type: object
      description: Exchange rate between two currencies.
      properties:
        value:
          type: string
          description: Rate value as a decimal string.
          example: "5.25"
        base:
          type: string
          description: Base currency.
          example: "USD"
        quote:
          type: string
          description: Quote currency.
          example: "BRL"
      required:
        - value
        - base
        - quote
    AccountReference:
      type: object
      description: Reference to a customer account, including the registered owner name.
      properties:
        id:
          type: string
          format: uuid
          description: Account identifier.
          example: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        owner:
          type: string
          description: Registered owner name on the account.
          example: "Acme Importação Ltda"
      required:
        - id
        - owner
    Reason:
      type: object
      description: Machine- and human-readable explanation. Returned inside an `OperationState` entry when a status transition requires justification (e.g., `FAILED`, `ON_HOLD`).
      properties:
        code:
          type: string
          description: Machine-readable code.
          example: "INSUFFICIENT_BALANCE"
        message:
          type: string
          description: Human-readable description.
          example: "Insufficient balance for the requested operation"
        details:
          type: object
          additionalProperties: true
          description: Free-form context relevant to the reason.
      required:
        - code
        - message
        - details
    OperationState:
      type: object
      description: A single entry in an operation's state history. Carries a status, optional reason, and the time the state was entered.
      properties:
        status:
          $ref: "#/components/schemas/OperationStatus"
        reason:
          oneOf:
            - $ref: "#/components/schemas/Reason"
            - type: "null"
          description: Justification for entering this status. Required for `FAILED`, `ON_HOLD`, and `ACTION_REQUIRED`; `null` otherwise.
        createdAt:
          type: string
          format: date-time
          description: Time the operation entered this status.
      required:
        - status
        - reason
        - createdAt
    BeneficiaryStatus:
      type: string
      enum:
        - PENDING_REVIEW
        - APPROVED
        - REJECTED
      description: |
        Compliance review status. New beneficiaries start in `PENDING_REVIEW` and transition
        asynchronously to `APPROVED` or `REJECTED`.
    Rail:
      type: string
      enum:
        - PIX_KEY
        - PIX_STATIC_QR_CODE
        - PIX_BANK_INSTRUCTION
        - TED
        - BOLETO
        - CRYPTO
      description: Payment rail used to settle a payment instruction or fund a deposit.
    HolderType:
      type: string
      enum:
        - INDIVIDUAL
        - COMPANY
      description: Whether a beneficiary or account holder is a person (CPF) or a company (CNPJ).
    PixKeyType:
      type: string
      enum:
        - CPF
        - CNPJ
        - EMAIL
        - PHONE
        - EVP
      description: PIX key category. EVP is a random key issued by the central bank.
    PageMetadata:
      type: object
      properties:
        previousCursor:
          type: string
          nullable: true
          description: Cursor for the previous page.
        nextCursor:
          type: string
          nullable: true
          description: Cursor for the next page.
        total:
          type: integer
          description: Total number of records.
        totalMatches:
          type: integer
          description: Total records matching the current filter.
      required:
        - total
        - totalMatches
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable description.
        details:
          type: object
          additionalProperties: true
      required:
        - code
        - message

    # ── Quote schemas ─────────────────────────────────────────────────
    CreateQuoteRequest:
      type: object
      description: |
        Quotes lock an FX rate (or a 1:1 spot for same-asset) for a short window and are
        required by every operation creation endpoint. A quote is bound to a specific
        account and can be consumed by exactly one operation on that account.

        Provide exactly one of `sourceAmount` or `targetAmount`:

        - `sourceAmount` — fix the amount you'll spend; the target side is computed.
        - `targetAmount` — fix the amount the beneficiary receives; the source side is computed.

        Same-asset quotes (`sourceAsset == targetAsset`) are valid and return a 1:1 spot with
        zero spread.
      properties:
        accountId:
          type: string
          format: uuid
          description: Account the quote is bound to. The consuming operation must reference the same account.
          example: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        sourceAsset:
          $ref: "#/components/schemas/Asset"
        targetAsset:
          $ref: "#/components/schemas/Asset"
        sourceAmount:
          $ref: "#/components/schemas/AmountValue"
        targetAmount:
          $ref: "#/components/schemas/AmountValue"
      required:
        - accountId
        - sourceAsset
        - targetAsset
    QuoteResponse:
      type: object
      description: A quote that can be consumed by an operation. Expires after a short window.
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        account:
          $ref: "#/components/schemas/AccountReference"
        sourceAmount:
          $ref: "#/components/schemas/AmountResponse"
        targetAmount:
          $ref: "#/components/schemas/AmountResponse"
        effectiveRate:
          $ref: "#/components/schemas/Rate"
        expiresAt:
          type: string
          format: date-time
          description: Time at which the quote expires. Operations referencing the quote after this fail with `QUOTE_EXPIRED`.
      required:
        - id
        - customerId
        - account
        - sourceAmount
        - targetAmount
        - effectiveRate
        - expiresAt

    # ── Operation schemas ─────────────────────────────────────────────
    # Sourced from fx-payment controllers/requests/responses. Only the
    # withdrawal endpoint has a controller in code today; deposit and swap
    # creation are deferred until their controllers ship.
    CreateWithdrawalRequest:
      type: object
      description: |
        Every withdrawal references a quote previously obtained from
        `POST /api/quotes`. The quote determines `sourceAmount` and
        `targetAmount` and locks the FX rate (or the 1:1 spot for same-asset). A quote can
        be consumed by at most one operation.
      properties:
        accountId:
          type: string
          format: uuid
          description: Account that funds the withdrawal. Must match the account on the referenced quote.
          example: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        quoteId:
          type: string
          format: uuid
          description: |
            ID of a quote returned by `POST /api/quotes`. Must belong to the same
            customer, must not have expired, and must not have been consumed by another
            operation.
          example: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
        beneficiary:
          $ref: "#/components/schemas/WithdrawalBeneficiary"
      required:
        - accountId
        - quoteId
        - beneficiary
    WithdrawalBeneficiary:
      description: |
        Beneficiary for the withdrawal. Discriminated by `type`.

        - `REFERENCE` — the only mode supported in the current slice. Points at a saved
          beneficiary by `id`.
        - `INLINE` — currently rejected with `400 INLINE_BENEFICIARY_NOT_SUPPORTED`.
      oneOf:
        - $ref: "#/components/schemas/WithdrawalBeneficiaryReference"
        - $ref: "#/components/schemas/WithdrawalBeneficiaryInline"
      discriminator:
        propertyName: type
        mapping:
          REFERENCE: "#/components/schemas/WithdrawalBeneficiaryReference"
          INLINE: "#/components/schemas/WithdrawalBeneficiaryInline"
    WithdrawalBeneficiaryReference:
      type: object
      properties:
        type:
          type: string
          enum:
            - REFERENCE
        id:
          type: string
          format: uuid
          description: ID of an existing beneficiary owned by the customer.
          example: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
        instruction:
          $ref: "#/components/schemas/WithdrawalInstruction"
      required:
        - type
        - id
        - instruction
    WithdrawalBeneficiaryInline:
      type: object
      description: Inline beneficiary details. Currently not supported — returns `400`.
      properties:
        type:
          type: string
          enum:
            - INLINE
        holderType:
          $ref: "#/components/schemas/HolderType"
        firstName:
          type: string
        lastName:
          type: string
        legalName:
          type: string
        tradeName:
          type: string
        taxId:
          type: string
        dateOfBirth:
          type: string
          format: date
        relationshipType:
          type: string
        instruction:
          $ref: "#/components/schemas/WithdrawalInstruction"
      required:
        - type
        - instruction
    WithdrawalInstruction:
      description: |
        Payment instruction to use. Discriminated by `type`.

        - `REFERENCE` — the only mode supported in the current slice. Points at a saved
          instruction by `id`.
        - `INLINE` — currently rejected with `400 INLINE_INSTRUCTION_NOT_SUPPORTED`.
      oneOf:
        - $ref: "#/components/schemas/WithdrawalInstructionReference"
        - $ref: "#/components/schemas/WithdrawalInstructionInline"
      discriminator:
        propertyName: type
        mapping:
          REFERENCE: "#/components/schemas/WithdrawalInstructionReference"
          INLINE: "#/components/schemas/WithdrawalInstructionInline"
    WithdrawalInstructionReference:
      type: object
      properties:
        type:
          type: string
          enum:
            - REFERENCE
        id:
          type: string
          format: uuid
          description: ID of an approved payment instruction on the referenced beneficiary.
          example: "c3d4e5f6-a7b8-9012-cdef-1234567890ab"
      required:
        - type
        - id
    WithdrawalInstructionInline:
      type: object
      description: Inline payment instruction. Currently not supported — returns `400`.
      properties:
        type:
          type: string
          enum:
            - INLINE
        rail:
          $ref: "#/components/schemas/Rail"
        asset:
          $ref: "#/components/schemas/Asset"
      required:
        - type
    OperationResponse:
      type: object
      description: |
        An operation. Today only withdrawals are issued (via
        `POST /api/operations/withdrawal`); deposit and swap creation are deferred.
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        account:
          $ref: "#/components/schemas/AccountReference"
        sourceAmount:
          $ref: "#/components/schemas/AmountResponse"
        targetAmount:
          $ref: "#/components/schemas/AmountResponse"
        intent:
          $ref: "#/components/schemas/OperationIntent"
        quote:
          $ref: "#/components/schemas/OperationQuoteReference"
        fees:
          type: array
          items:
            $ref: "#/components/schemas/OperationFee"
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/OperationTransaction"
        currentState:
          $ref: "#/components/schemas/OperationState"
        states:
          type: array
          description: Full state history of the operation, oldest first. The last entry equals `currentState`.
          items:
            $ref: "#/components/schemas/OperationState"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - customerId
        - account
        - sourceAmount
        - targetAmount
        - intent
        - quote
        - fees
        - transactions
        - currentState
        - states
        - createdAt
        - updatedAt
    OperationStatus:
      type: string
      description: Lifecycle status of an operation.
      enum:
        - REQUESTED
        - PROCESSING
        - ON_HOLD
        - ACTION_REQUIRED
        - COMPLETED
        - FAILED
    OperationFee:
      type: object
      description: A fee charged on the operation.
      properties:
        amount:
          $ref: "#/components/schemas/AmountResponse"
        source:
          type: string
          enum:
            - FX_SPREAD
            - PLATFORM
            - RAIL
            - PARTNER
          description: Where the fee originates.
        createdAt:
          type: string
          format: date-time
          description: Time the fee was applied.
      required:
        - amount
        - source
        - createdAt
    OperationTransaction:
      type: object
      description: A rail-level transaction associated with the operation.
      properties:
        id:
          type: string
          description: Rail-side transaction identifier.
        direction:
          type: string
          enum:
            - CREDIT
            - DEBIT
          description: Whether the rail debited or credited the account.
        amount:
          $ref: "#/components/schemas/AmountResponse"
        status:
          type: string
          enum:
            - PROCESSING
            - CONFIRMED
            - FAILED
          description: Rail-level status. Independent of the parent operation's `currentState`.
      required:
        - id
        - direction
        - amount
        - status
    OperationIntent:
      description: Operation intent. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/OperationWithdrawalIntent"
      discriminator:
        propertyName: type
        mapping:
          WITHDRAWAL: "#/components/schemas/OperationWithdrawalIntent"
    OperationWithdrawalIntent:
      type: object
      properties:
        type:
          type: string
          enum:
            - WITHDRAWAL
        beneficiary:
          $ref: "#/components/schemas/OperationBeneficiaryReference"
      required:
        - type
        - beneficiary
    OperationBeneficiaryReference:
      type: object
      description: Snapshot of the beneficiary at the time the operation was created.
      properties:
        id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
          description: ID of the saved beneficiary. `null` is reserved for when inline beneficiaries ship.
        holder:
          $ref: "#/components/schemas/OperationHolderReference"
        instruction:
          $ref: "#/components/schemas/OperationPaymentInstruction"
      required:
        - id
        - holder
        - instruction
    OperationHolderReference:
      description: Holder snapshot. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/OperationHolderIndividual"
        - $ref: "#/components/schemas/OperationHolderCompany"
      discriminator:
        propertyName: type
        mapping:
          INDIVIDUAL: "#/components/schemas/OperationHolderIndividual"
          COMPANY: "#/components/schemas/OperationHolderCompany"
    OperationHolderIndividual:
      type: object
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        firstName:
          type: string
        lastName:
          type: string
        taxId:
          type: string
          description: CPF.
        dateOfBirth:
          type: string
          format: date
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - firstName
        - lastName
        - taxId
        - dateOfBirth
        - address
    OperationHolderCompany:
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPANY
        legalName:
          type: string
          description: Registered legal name.
        tradeName:
          oneOf:
            - type: string
            - type: "null"
          description: Trade name (DBA). `null` if the company doesn't use one.
        taxId:
          type: string
          description: CNPJ.
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - legalName
        - tradeName
        - taxId
        - address
    OperationPaymentInstruction:
      description: Snapshot of the payment instruction the funds are routed to. Discriminated by `rail`.
      oneOf:
        - $ref: "#/components/schemas/OperationPixKeyInstruction"
        - $ref: "#/components/schemas/OperationPixStaticQrCodeInstruction"
        - $ref: "#/components/schemas/OperationTedInstruction"
        - $ref: "#/components/schemas/OperationBoletoInstruction"
        - $ref: "#/components/schemas/OperationCryptoWalletInstruction"
      discriminator:
        propertyName: rail
        mapping:
          PIX_KEY: "#/components/schemas/OperationPixKeyInstruction"
          PIX_STATIC_QR_CODE: "#/components/schemas/OperationPixStaticQrCodeInstruction"
          TED: "#/components/schemas/OperationTedInstruction"
          BOLETO: "#/components/schemas/OperationBoletoInstruction"
          CRYPTO: "#/components/schemas/OperationCryptoWalletInstruction"
    OperationPixKeyInstruction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Payment instruction identifier.
        asset:
          $ref: "#/components/schemas/Asset"
        rail:
          type: string
          enum:
            - PIX_KEY
        keyType:
          $ref: "#/components/schemas/PixKeyType"
        key:
          type: string
          description: PIX key value, formatted per `keyType`.
      required:
        - id
        - asset
        - rail
        - keyType
        - key
    OperationPixStaticQrCodeInstruction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Payment instruction identifier.
        asset:
          $ref: "#/components/schemas/Asset"
        rail:
          type: string
          enum:
            - PIX_STATIC_QR_CODE
        qrCode:
          type: string
          description: PIX QR code payload (EMV-encoded BR Code).
      required:
        - id
        - asset
        - rail
        - qrCode
    OperationTedInstruction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Payment instruction identifier.
        asset:
          $ref: "#/components/schemas/Asset"
        rail:
          type: string
          enum:
            - TED
        bankCode:
          type: string
          description: ISPB or COMPE bank code.
        branch:
          type: string
          description: Branch number.
        accountNumber:
          type: string
          description: Account number with check digit.
      required:
        - id
        - asset
        - rail
        - bankCode
        - branch
        - accountNumber
    OperationBoletoInstruction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Payment instruction identifier.
        asset:
          $ref: "#/components/schemas/Asset"
        rail:
          type: string
          enum:
            - BOLETO
        barcode:
          type: string
          description: Boleto barcode (digitable line).
        dueDate:
          type: string
          format: date-time
          description: Last day on which the boleto can be paid.
      required:
        - id
        - asset
        - rail
        - barcode
        - dueDate
    OperationCryptoWalletInstruction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Payment instruction identifier.
        asset:
          $ref: "#/components/schemas/Asset"
        rail:
          type: string
          enum:
            - CRYPTO
        network:
          type: string
          description: Blockchain network (e.g., `ETHEREUM`, `TRON`, `SOLANA`).
        walletAddress:
          type: string
          description: Wallet address on `network`.
      required:
        - id
        - asset
        - rail
        - network
        - walletAddress
    Address:
      type: object
      description: Postal address of an account holder or beneficiary.
      properties:
        addressLine1:
          type: string
          description: Primary street line (number + street).
        addressLine2:
          oneOf:
            - type: string
            - type: "null"
          description: Secondary line (apartment, suite, building). `null` if not applicable.
        city:
          type: string
        state:
          oneOf:
            - type: string
            - type: "null"
          description: State, province, or region. `null` for countries without subdivisions in the address.
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: "BR"
        postalCode:
          type: string
          description: Postal or ZIP code, formatted per the country's convention.
      required:
        - addressLine1
        - addressLine2
        - city
        - state
        - country
        - postalCode
    OperationQuoteReference:
      type: object
      description: Reference to the quote consumed by the operation.
      properties:
        id:
          type: string
          format: uuid
          description: Quote identifier.
        effectiveRate:
          $ref: "#/components/schemas/Rate"
        expiresAt:
          type: string
          format: date-time
          description: Time at which the quote was originally set to expire.
        consumedAt:
          type: string
          format: date-time
          description: Time the quote was consumed by this operation.
      required:
        - id
        - effectiveRate
        - expiresAt
        - consumedAt

    # ── Beneficiary schemas ───────────────────────────────────────────
    CreateBeneficiaryRequest:
      type: object
      description: Request body for creating a beneficiary.
      properties:
        holder:
          $ref: "#/components/schemas/HolderRequest"
        relationshipType:
          type: string
          enum:
            - SELF_OWNED
            - THIRD_PARTY
          description: Whether the beneficiary is the customer themselves (`SELF_OWNED`) or a separate party (`THIRD_PARTY`).
        paymentInstruction:
          $ref: "#/components/schemas/PaymentInstructionRequest"
      required:
        - holder
        - relationshipType
        - paymentInstruction
    HolderRequest:
      description: The person or company that receives funds. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/IndividualHolderRequest"
        - $ref: "#/components/schemas/CompanyHolderRequest"
      discriminator:
        propertyName: type
        mapping:
          INDIVIDUAL: "#/components/schemas/IndividualHolderRequest"
          COMPANY: "#/components/schemas/CompanyHolderRequest"
    IndividualHolderRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        firstName:
          type: string
          description: Given name.
          example: "João"
        lastName:
          type: string
          description: Family name.
          example: "Silva"
        taxId:
          type: string
          description: CPF (Brazilian individual tax ID), digits only.
          example: "12345678900"
        dateOfBirth:
          type: string
          format: date
          description: Date of birth in ISO 8601 (`yyyy-MM-dd`).
          example: "1985-03-15"
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - firstName
        - lastName
        - taxId
        - dateOfBirth
        - address
    CompanyHolderRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPANY
        legalName:
          type: string
          description: Registered legal name.
          example: "Acme Importação Ltda"
        tradeName:
          type: string
          nullable: true
          description: Trade name. Optional.
          example: "Acme"
        taxId:
          type: string
          description: CNPJ (Brazilian company tax ID), digits only.
          example: "12345678000100"
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - legalName
        - taxId
        - address
    PaymentInstructionRequest:
      description: Payment instruction for receiving funds. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/PixInstructionRequest"
        - $ref: "#/components/schemas/BankAccountInstructionRequest"
        - $ref: "#/components/schemas/CryptoWalletInstructionRequest"
      discriminator:
        propertyName: type
        mapping:
          PIX: "#/components/schemas/PixInstructionRequest"
          BANK_ACCOUNT: "#/components/schemas/BankAccountInstructionRequest"
          CRYPTO_WALLET: "#/components/schemas/CryptoWalletInstructionRequest"
    PixInstructionRequest:
      type: object
      description: PIX payment routed by a DICT key.
      properties:
        type:
          type: string
          enum:
            - PIX
        asset:
          type: string
          description: Asset/currency for the payment instruction (e.g. `BRL`).
          example: "BRL"
        dictKeyType:
          type: string
          enum:
            - CPF
            - CNPJ
            - EMAIL
            - PHONE
            - EVP
          description: DICT key type.
        dictKey:
          type: string
          description: DICT key value.
          example: "john@example.com"
      required:
        - type
        - asset
        - dictKeyType
        - dictKey
    BankAccountInstructionRequest:
      type: object
      description: PIX payment routed by bank-account details (agency + account) instead of a DICT key.
      properties:
        type:
          type: string
          enum:
            - BANK_ACCOUNT
        asset:
          type: string
          description: Asset/currency for the payment instruction.
          example: "BRL"
        bankCode:
          type: string
          description: Bank code (ISPB or COMPE).
          example: "001"
        branch:
          type: string
          description: Branch number.
          example: "0001"
        accountNumber:
          type: string
          description: Account number.
          example: "123456"
        accountType:
          type: string
          enum:
            - CHECKING
            - SAVINGS
      required:
        - type
        - asset
        - bankCode
        - branch
        - accountNumber
        - accountType
    CryptoWalletInstructionRequest:
      type: object
      description: Crypto-wallet payment routed by an on-chain address.
      properties:
        type:
          type: string
          enum:
            - CRYPTO_WALLET
        asset:
          type: string
          description: Crypto asset/currency.
          example: "USDT"
        address:
          type: string
          description: Wallet address.
          example: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18"
        chain:
          type: string
          description: Blockchain network.
          example: "ETHEREUM"
      required:
        - type
        - asset
        - address
        - chain
    BeneficiaryResponse:
      type: object
      description: An external beneficiary registered for withdrawals.
      properties:
        id:
          type: string
          format: uuid
          example: "ben-a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        customerId:
          type: string
          format: uuid
          description: Customer that owns this beneficiary.
        holder:
          $ref: "#/components/schemas/HolderResponse"
        relationshipType:
          type: string
          enum:
            - SELF_OWNED
            - THIRD_PARTY
          description: Whether the beneficiary is the customer themselves (`SELF_OWNED`) or a separate party (`THIRD_PARTY`).
        paymentInstructions:
          type: array
          items:
            $ref: "#/components/schemas/PaymentInstructionResponse"
        createdAt:
          type: string
          format: date-time
          example: "2026-04-14T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-04-14T10:30:00Z"
      required:
        - id
        - customerId
        - holder
        - relationshipType
        - paymentInstructions
        - createdAt
        - updatedAt
    BeneficiarySummaryResponse:
      type: object
      description: Lightweight beneficiary projection used by the list endpoint. Same as `BeneficiaryResponse` but with a count instead of the full payment instructions array.
      properties:
        id:
          type: string
          format: uuid
          example: "ben-a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        customerId:
          type: string
          format: uuid
          description: Customer that owns this beneficiary.
        holder:
          $ref: "#/components/schemas/HolderResponse"
        relationshipType:
          type: string
          enum:
            - SELF_OWNED
            - THIRD_PARTY
          description: Whether the beneficiary is the customer themselves (`SELF_OWNED`) or a separate party (`THIRD_PARTY`).
        instructionCount:
          type: integer
          description: Number of payment instructions on this beneficiary.
          example: 2
        createdAt:
          type: string
          format: date-time
          example: "2026-04-14T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-04-14T10:30:00Z"
      required:
        - id
        - customerId
        - holder
        - relationshipType
        - instructionCount
        - createdAt
        - updatedAt
    HolderResponse:
      description: The person or company that receives funds. Discriminated by `type`.
      oneOf:
        - $ref: "#/components/schemas/IndividualHolderResponse"
        - $ref: "#/components/schemas/CompanyHolderResponse"
      discriminator:
        propertyName: type
        mapping:
          INDIVIDUAL: "#/components/schemas/IndividualHolderResponse"
          COMPANY: "#/components/schemas/CompanyHolderResponse"
    IndividualHolderResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        firstName:
          type: string
          example: "João"
        lastName:
          type: string
          example: "Silva"
        taxId:
          type: string
          description: CPF, digits only.
          example: "12345678900"
        dateOfBirth:
          type: string
          format: date
          description: Date of birth in ISO 8601 (`yyyy-MM-dd`).
          example: "1985-03-15"
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - firstName
        - lastName
        - taxId
        - dateOfBirth
        - address
    CompanyHolderResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPANY
        legalName:
          type: string
          example: "Acme Importação Ltda"
        tradeName:
          type: string
          nullable: true
          example: "Acme"
        taxId:
          type: string
          description: CNPJ, digits only.
          example: "12345678000100"
        address:
          $ref: "#/components/schemas/Address"
      required:
        - type
        - legalName
        - taxId
        - address
    FinancialAddress:
      description: A payment route, discriminated by `rail`. Beneficiary payment instructions emit one of `PIX_KEY`, `PIX_BANK_INSTRUCTION`, or `CRYPTO`; other rails appear in operation responses.
      oneOf:
        - $ref: "#/components/schemas/PixKeyAddress"
        - $ref: "#/components/schemas/PixBankInstructionAddress"
        - $ref: "#/components/schemas/PixStaticQrCodeAddress"
        - $ref: "#/components/schemas/BoletoAddress"
        - $ref: "#/components/schemas/CryptoWalletAddress"
      discriminator:
        propertyName: rail
        mapping:
          PIX_KEY: "#/components/schemas/PixKeyAddress"
          PIX_BANK_INSTRUCTION: "#/components/schemas/PixBankInstructionAddress"
          PIX_STATIC_QR_CODE: "#/components/schemas/PixStaticQrCodeAddress"
          BOLETO: "#/components/schemas/BoletoAddress"
          CRYPTO: "#/components/schemas/CryptoWalletAddress"
    PixKeyAddress:
      type: object
      description: PIX route via DICT key.
      properties:
        rail:
          type: string
          enum:
            - PIX_KEY
        dictKeyType:
          type: string
          enum:
            - CPF
            - CNPJ
            - EMAIL
            - PHONE
            - EVP
          description: DICT key type.
        dictKey:
          type: string
          description: DICT key value.
          example: "john@example.com"
      required:
        - rail
        - dictKeyType
        - dictKey
    PixBankInstructionAddress:
      type: object
      description: PIX route via bank-account details (no DICT key).
      properties:
        rail:
          type: string
          enum:
            - PIX_BANK_INSTRUCTION
        bankCode:
          type: string
          description: Bank code (ISPB or COMPE).
          example: "001"
        branch:
          type: string
          example: "0001"
        accountNumber:
          type: string
          example: "123456"
        accountType:
          type: string
          enum:
            - CHECKING
            - SAVINGS
      required:
        - rail
        - bankCode
        - branch
        - accountNumber
        - accountType
    PixStaticQrCodeAddress:
      type: object
      description: PIX route via static QR code payload.
      properties:
        rail:
          type: string
          enum:
            - PIX_STATIC_QR_CODE
        qrCode:
          type: string
          description: PIX QR code payload (EMV format).
          example: "00020126580014br.gov.bcb.pix..."
      required:
        - rail
        - qrCode
    BoletoAddress:
      type: object
      description: Boleto route.
      properties:
        rail:
          type: string
          enum:
            - BOLETO
        barcode:
          type: string
          description: Boleto barcode (digitable line).
          example: "23793.38128 60800.000003 00000.000400 1 84340000012345"
        dueDate:
          type: string
          format: date-time
          description: Due date for the boleto.
          example: "2026-05-15T23:59:59Z"
      required:
        - rail
        - barcode
        - dueDate
    CryptoWalletAddress:
      type: object
      description: Crypto-wallet route.
      properties:
        rail:
          type: string
          enum:
            - CRYPTO
        chain:
          type: string
          description: Blockchain network.
          example: "ETHEREUM"
        address:
          type: string
          description: Wallet address.
          example: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18"
      required:
        - rail
        - chain
        - address
    PaymentInstructionResponse:
      type: object
      description: A payment instruction on a beneficiary. Use `address.rail` to discriminate routing details — for beneficiary instructions it is one of `PIX_KEY`, `PIX_BANK_INSTRUCTION`, or `CRYPTO`.
      properties:
        id:
          type: string
          format: uuid
          example: "pi-a1b2c3d4-5e6f-7890-abcd-ef1234567890"
        asset:
          type: string
          description: Asset/currency for this instruction.
          example: "BRL"
        status:
          type: string
          enum:
            - PENDING_REVIEW
            - APPROVED
            - REJECTED
          description: Compliance review status of this payment instruction.
        address:
          $ref: "#/components/schemas/FinancialAddress"
        createdAt:
          type: string
          format: date-time
          example: "2026-04-14T10:30:00Z"
      required:
        - id
        - asset
        - status
        - address
        - createdAt
  responses:
    UnauthorizedError:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalidToken:
              $ref: "#/components/examples/InvalidToken"
            expiredToken:
              $ref: "#/components/examples/ExpiredToken"
  examples:
    InvalidToken:
      summary: Bearer token is invalid or malformed
      value:
        code: "INVALID_ACCESS_TOKEN"
        message: "Invalid access token"
        details: {}
    ExpiredToken:
      summary: Bearer token has expired
      value:
        code: "EXPIRED_ACCESS_TOKEN"
        message: "Expired access token"
        details: {}
    BeneficiaryNotFound:
      summary: Beneficiary does not exist for the authenticated customer
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "Beneficiary with given parameters [id:b2c3d4e5-f6a7-8901-bcde-f12345678901] not found"
        details:
          resource: "Beneficiary"
          parameters:
            id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
    AccountNotFound:
      summary: Account does not exist or is not owned by the authenticated customer
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "Account with given parameters [id:a1b2c3d4-5e6f-7890-abcd-ef1234567890] not found"
        details:
          resource: "Account"
          parameters:
            id: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
    InstructionNotFound:
      summary: Payment instruction does not exist on the beneficiary
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "PaymentInstruction with given parameters [id:c3d4e5f6-a7b8-9012-cdef-1234567890ab] not found"
        details:
          resource: "PaymentInstruction"
          parameters:
            id: "c3d4e5f6-a7b8-9012-cdef-1234567890ab"
    QuoteNotFound:
      summary: Quote does not exist for this customer
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "Quote with given parameters [id:d4e5f6a7-b8c9-0123-defa-2345678901bc] not found"
        details:
          resource: "Quote"
          parameters:
            id: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
    OperationNotFound:
      summary: Operation does not exist for the authenticated customer
      value:
        code: "RESOURCE_NOT_FOUND"
        message: "Operation with given parameters [id:1f3a8c8d-2e1a-4b3a-9d2e-7c1a4b3a9d2e] not found"
        details:
          resource: "Operation"
          parameters:
            id: "1f3a8c8d-2e1a-4b3a-9d2e-7c1a4b3a9d2e"

paths:
  # ── Operations: Withdrawals ───────────────────────────────────────
  /api/operations/withdrawal:
    post:
      operationId: createWithdrawal
      tags:
        - Operations
      summary: Create a withdrawal
      description: |
        Creates a withdrawal that debits the customer's account and sends funds to an external
        beneficiary via the resolved payment rail. Returns `201` immediately with the operation in
        `REQUESTED` status; settlement and rail dispatch happen asynchronously.

        In the current slice, only saved beneficiaries (`type: "REFERENCE"` for both
        `beneficiary` and `instruction`) are accepted. The instruction's rail must be PIX and
        its settlement asset must be `BRL`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/TraceVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWithdrawalRequest"
            examples:
              sameAssetBrl:
                summary: BRL → BRL withdrawal (same-asset 1:1 quote)
                value:
                  accountId: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                  quoteId: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
                  beneficiary:
                    type: "REFERENCE"
                    id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    instruction:
                      type: "REFERENCE"
                      id: "c3d4e5f6-a7b8-9012-cdef-1234567890ab"
      responses:
        "201":
          description: Withdrawal accepted. The operation is in `REQUESTED` status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
              examples:
                pixWithdrawal:
                  summary: PIX withdrawal in REQUESTED state, no FX quote
                  value:
                    id: "1f3a8c8d-2e1a-4b3a-9d2e-7c1a4b3a9d2e"
                    customerId: "11111111-1111-1111-1111-111111111111"
                    account:
                      id: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                      owner: "Acme Importação Ltda"
                    sourceAmount:
                      value: 50000
                      decimalValue: "500.00"
                      asset: "BRL"
                      decimals: 2
                    targetAmount:
                      value: 50000
                      decimalValue: "500.00"
                      asset: "BRL"
                      decimals: 2
                    fees: []
                    transactions: []
                    currentState:
                      status: "REQUESTED"
                      reason: null
                      createdAt: "2026-04-25T02:39:17Z"
                    states:
                      - status: "REQUESTED"
                        reason: null
                        createdAt: "2026-04-25T02:39:17Z"
                    intent:
                      type: "WITHDRAWAL"
                      beneficiary:
                        id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                        holder:
                          type: "INDIVIDUAL"
                          firstName: "John"
                          lastName: "Doe"
                          taxId: "12345678901"
                          dateOfBirth: "1990-01-15"
                          address:
                            addressLine1: "Rua Augusta, 500"
                            addressLine2: null
                            city: "Sao Paulo"
                            state: "SP"
                            country: "BR"
                            postalCode: "01304-001"
                        instruction:
                          id: "c3d4e5f6-a7b8-9012-cdef-1234567890ab"
                          asset: "BRL"
                          rail: "PIX_KEY"
                          keyType: "CPF"
                          key: "12345678901"
                    quote:
                      id: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
                      effectiveRate:
                        value: "1.00"
                        base: "BRL"
                        quote: "BRL"
                      expiresAt: "2026-04-25T02:39:47Z"
                      consumedAt: "2026-04-25T02:39:17Z"
                    createdAt: "2026-04-25T02:39:17Z"
                    updatedAt: "2026-04-25T02:39:17Z"
        "400":
          description: |
            Validation error: missing or malformed fields, inline beneficiary not supported, or
            inline instruction not supported.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingAccountId:
                  summary: accountId is missing
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:accountId' not found in request"
                          field: "body:accountId"
                          params: {}
                invalidAccountUuid:
                  summary: accountId is not a UUID
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_UUID"
                          message: "'not-a-uuid' is not a valid UUID"
                          field: "body:accountId"
                          params: {}
                missingQuoteId:
                  summary: quoteId is missing
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:quoteId' not found in request"
                          field: "body:quoteId"
                          params: {}
                inlineBeneficiaryNotSupported:
                  summary: Inline beneficiary is not supported in the current slice
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INLINE_BENEFICIARY_NOT_SUPPORTED"
                          message: "Inline beneficiary is not supported yet; use REFERENCE"
                          field: "body"
                          params: {}
                inlineInstructionNotSupported:
                  summary: Inline instruction is not supported in the current slice
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INLINE_INSTRUCTION_NOT_SUPPORTED"
                          message: "Inline instruction is not supported yet; use REFERENCE"
                          field: "body"
                          params: {}
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Account, beneficiary, or payment instruction not found for this customer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                accountNotFound:
                  $ref: "#/components/examples/AccountNotFound"
                beneficiaryNotFound:
                  $ref: "#/components/examples/BeneficiaryNotFound"
                instructionNotFound:
                  $ref: "#/components/examples/InstructionNotFound"
                quoteNotFound:
                  $ref: "#/components/examples/QuoteNotFound"
        "409":
          description: Idempotency key was reused with a different request body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                idempotencyConflict:
                  summary: X-Idempotency-Key was reused
                  value:
                    code: "IDEMPOTENCY_CONFLICT"
                    message: "Idempotency key already used with a different request"
                    details: {}
        "422":
          description: Business rule violation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                beneficiaryNotApproved:
                  summary: Referenced instruction is PENDING_REVIEW or REJECTED
                  value:
                    code: "PAYMENT_INSTRUCTION_NOT_APPROVED"
                    message: "Payment instruction is not approved"
                    details:
                      paymentInstructionId: "pi-a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                      status: "PENDING_REVIEW"
                invalidRail:
                  summary: Instruction's rail is not supported (only PIX in this slice)
                  value:
                    code: "INVALID_RAIL"
                    message: "Rail not supported for withdrawal"
                    details:
                      rail: "TED"
                invalidSourceAsset:
                  summary: Quote's source asset does not match the instruction's settlement asset
                  value:
                    code: "INVALID_SOURCE_ASSET"
                    message: "Source asset does not match the instruction"
                    details:
                      quoteSourceAsset: "BRL"
                      instructionAsset: "USDT"
                quoteExpired:
                  summary: Quote expired before the withdrawal was created
                  value:
                    code: "QUOTE_EXPIRED"
                    message: "Quote has expired and can no longer be consumed"
                    details:
                      quoteId: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
                      expiredAt: "2026-04-25T02:34:17Z"
                quoteAlreadyConsumed:
                  summary: Quote was already consumed by another operation (1:1 binding)
                  value:
                    code: "QUOTE_ALREADY_CONSUMED"
                    message: "Quote has already been consumed by another operation"
                    details:
                      quoteId: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
                      consumedByOperationId: "1f3a8c8d-2e1a-4b3a-9d2e-7c1a4b3a9d2e"

  # ── Quotes ────────────────────────────────────────────────────────
  /api/quotes:
    post:
      operationId: createQuote
      tags:
        - Operations
      summary: Create a quote
      description: |
        Creates a quote that locks an FX rate for a short window. Every operation creation
        endpoint (withdrawal, future deposit, future swap) requires a `quoteId` — see the
        request body of `POST /api/operations/withdrawal`.

        Same-asset quotes (`sourceAsset == targetAsset`) are valid and return a 1:1 spot with
        zero spread, so callers can use the same flow for fiat and FX.

        A quote is bound 1:1 to an operation: once consumed, it cannot be reused. Quotes
        also expire after a short window (see `expiresAt` in the response).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/TraceVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQuoteRequest"
            examples:
              fixedSourceCrossAsset:
                summary: BRL → USDT, fixing the source amount
                value:
                  accountId: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                  sourceAsset: "BRL"
                  targetAsset: "USDT"
                  sourceAmount: "500.00"
              fixedTargetCrossAsset:
                summary: BRL → USDT, fixing the target amount
                value:
                  accountId: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                  sourceAsset: "BRL"
                  targetAsset: "USDT"
                  targetAmount: "100.000000"
              sameAssetBrl:
                summary: BRL → BRL (1:1, no spread)
                value:
                  accountId: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                  sourceAsset: "BRL"
                  targetAsset: "BRL"
                  sourceAmount: "500.00"
      responses:
        "201":
          description: Quote created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
              examples:
                crossAsset:
                  summary: BRL → USDT cross-asset quote
                  value:
                    id: "d4e5f6a7-b8c9-0123-defa-2345678901bc"
                    customerId: "11111111-1111-1111-1111-111111111111"
                    account:
                      id: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                      owner: "Acme Importação Ltda"
                    sourceAmount:
                      value: 50000
                      decimalValue: "500.00"
                      asset: "BRL"
                      decimals: 2
                    targetAmount:
                      value: 100000000
                      decimalValue: "100.000000"
                      asset: "USDT"
                      decimals: 6
                    effectiveRate:
                      value: "0.20"
                      base: "BRL"
                      quote: "USDT"
                    expiresAt: "2026-04-25T02:39:47Z"
                sameAsset:
                  summary: BRL → BRL same-asset quote (1:1, no spread)
                  value:
                    id: "e5f6a7b8-c9d0-1234-efab-3456789012cd"
                    customerId: "11111111-1111-1111-1111-111111111111"
                    account:
                      id: "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                      owner: "Acme Importação Ltda"
                    sourceAmount:
                      value: 50000
                      decimalValue: "500.00"
                      asset: "BRL"
                      decimals: 2
                    targetAmount:
                      value: 50000
                      decimalValue: "500.00"
                      asset: "BRL"
                      decimals: 2
                    effectiveRate:
                      value: "1.00"
                      base: "BRL"
                      quote: "BRL"
                    expiresAt: "2026-04-25T02:39:47Z"
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingAssets:
                  summary: sourceAsset and targetAsset are required
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:sourceAsset' not found in request"
                          field: "body:sourceAsset"
                          params: {}
                missingAmount:
                  summary: Neither sourceAmount nor targetAmount provided
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "MISSING_AMOUNT"
                          message: "Provide exactly one of sourceAmount or targetAmount"
                          field: "body"
                          params: {}
                mutuallyExclusiveAmounts:
                  summary: Both sourceAmount and targetAmount were provided
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "MUTUALLY_EXCLUSIVE_AMOUNTS"
                          message: "Provide exactly one of sourceAmount or targetAmount, not both"
                          field: "body"
                          params: {}
                amountMustBePositive:
                  summary: Amount must be greater than zero
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "AMOUNT_MUST_BE_POSITIVE"
                          message: "sourceAmount must be greater than zero"
                          field: "body:sourceAmount"
                          params: {}
                invalidAmountPrecision:
                  summary: Decimal scale exceeds the asset's allowed precision
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_AMOUNT_PRECISION"
                          message: "BRL allows at most 2 decimal places, got 4"
                          field: "body:sourceAmount"
                          params:
                            asset: "BRL"
                            allowed: 2
                            received: 4
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: Quote could not be created (no rate available, asset pair unsupported, etc.).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                quoteCreationFailed:
                  summary: No rate available for the requested asset pair
                  value:
                    code: "QUOTE_CREATION_FAILED"
                    message: "Failed to create quote"
                    details:
                      sourceAsset: "BRL"
                      targetAsset: "USDT"
                      reason: "No rate available for the requested currency pair"

  # ── Operations: Read ──────────────────────────────────────────────
  /api/operations/{operationId}:
    get:
      operationId: getOperation
      tags:
        - Operations
      summary: Get an operation
      description: |
        Retrieves the full details of an operation by its ID.

        > Endpoint contract is preliminary — the controller has not shipped yet. The
        > response shape mirrors `POST /api/operations/withdrawal` and will be confirmed
        > when the read endpoints land in fx-payment.
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: Operation details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Operation not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                operationNotFound:
                  $ref: "#/components/examples/OperationNotFound"

  /api/operations:
    get:
      operationId: listOperations
      tags:
        - Operations
      summary: List operations
      description: |
        Lists all operations for the authenticated customer. Results are paginated and can
        be filtered by status or by intent type.

        > Endpoint contract is preliminary — the controller has not shipped yet. Filters and
        > pagination behaviour will be confirmed when the read endpoints land in fx-payment.
      parameters:
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/PaginationLimit"
        - $ref: "#/components/parameters/PaginationCursor"
        - name: intentType
          in: query
          required: false
          description: Filter by operation intent type.
          schema:
            type: string
            enum:
              - WITHDRAWAL
        - name: status
          in: query
          required: false
          description: Filter by operation status.
          schema:
            $ref: "#/components/schemas/OperationStatus"
      responses:
        "200":
          description: Paginated list of operations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OperationResponse"
                  meta:
                    $ref: "#/components/schemas/PageMetadata"
                required:
                  - data
                  - meta
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: Invalid filter parameter.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidIntentType:
                  summary: intentType filter is not a valid enum
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_ENUM"
                          message: "'TRANSFER' is not a valid enum"
                          field: "query:intentType"
                          params: {}
                invalidStatus:
                  summary: status filter is not a valid enum
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "INVALID_ENUM"
                          message: "'DONE' is not a valid enum"
                          field: "query:status"
                          params: {}

  # ── Beneficiaries ─────────────────────────────────────────────────
  /api/beneficiaries:
    post:
      operationId: createBeneficiary
      tags:
        - Beneficiaries
      summary: Create a beneficiary
      description: Registers a new beneficiary for withdrawals. Each payment instruction undergoes a compliance review — instructions start in `PENDING_REVIEW` and transition to `APPROVED` or `REJECTED` asynchronously.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/TraceVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBeneficiaryRequest"
            examples:
              pixIndividual:
                summary: Individual with PIX key
                value:
                  holder:
                    type: "INDIVIDUAL"
                    firstName: "João"
                    lastName: "Silva"
                    taxId: "12345678900"
                    dateOfBirth: "1985-03-15"
                    address:
                      addressLine1: "Av. Paulista, 1000"
                      addressLine2: "Apto 42"
                      city: "São Paulo"
                      state: "SP"
                      postalCode: "01310-100"
                      country: "BR"
                  relationshipType: "THIRD_PARTY"
                  paymentInstruction:
                    type: "PIX"
                    asset: "BRL"
                    dictKeyType: "EMAIL"
                    dictKey: "joao@example.com"
              bankCompany:
                summary: Company with bank account
                value:
                  holder:
                    type: "COMPANY"
                    legalName: "Acme Importação Ltda"
                    tradeName: "Acme"
                    taxId: "12345678000100"
                    address:
                      addressLine1: "Rua da Consolação, 222"
                      city: "São Paulo"
                      state: "SP"
                      postalCode: "01302-000"
                      country: "BR"
                  relationshipType: "THIRD_PARTY"
                  paymentInstruction:
                    type: "BANK_ACCOUNT"
                    asset: "BRL"
                    bankCode: "001"
                    branch: "0001"
                    accountNumber: "123456"
                    accountType: "CHECKING"
              cryptoWallet:
                summary: Individual with crypto wallet
                value:
                  holder:
                    type: "INDIVIDUAL"
                    firstName: "Jane"
                    lastName: "Doe"
                    taxId: "98765432100"
                    dateOfBirth: "1990-07-22"
                    address:
                      addressLine1: "123 Main St"
                      city: "Lisbon"
                      postalCode: "1000-001"
                      country: "PT"
                  relationshipType: "SELF_OWNED"
                  paymentInstruction:
                    type: "CRYPTO_WALLET"
                    address: "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18"
                    chain: "ETHEREUM"
                    asset: "USDT"
      responses:
        "201":
          description: Beneficiary created. Its initial payment instruction starts in `PENDING_REVIEW` status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "422":
          description: Validation error (invalid holder type, invalid instruction type, missing details).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidData:
                  summary: Request body failed validation
                  value:
                    code: "INVALID_DATA"
                    message: "Object contains invalid data"
                    details:
                      errors:
                        - code: "REQUIRED"
                          message: "Parameter 'body:holder' not found in request"
                          field: "body:holder"
                          params: {}
                missingPaymentInstructionDetails:
                  summary: Payment instruction is missing required fields
                  value:
                    code: "MISSING_PAYMENT_INSTRUCTION_DETAILS"
                    message: "Missing required payment instruction details"
                    details:
                      type: "PIX"
                      missingKeys:
                        - "dictKeyType"
                        - "dictKey"
    get:
      operationId: listBeneficiaries
      tags:
        - Beneficiaries
      summary: List beneficiaries
      description: Lists all beneficiaries for the authenticated customer. Returns lightweight summaries — call `GET /api/beneficiaries/{beneficiaryId}` to retrieve the full beneficiary including its payment instructions. Results are paginated.
      parameters:
        - $ref: "#/components/parameters/TraceVersion"
        - $ref: "#/components/parameters/PaginationLimit"
        - $ref: "#/components/parameters/PaginationCursor"
      responses:
        "200":
          description: Paginated list of beneficiary summaries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BeneficiarySummaryResponse"
                  meta:
                    $ref: "#/components/schemas/PageMetadata"
                required:
                  - data
                  - meta
        "401":
          $ref: "#/components/responses/UnauthorizedError"

  /api/beneficiaries/{beneficiaryId}:
    get:
      operationId: getBeneficiary
      tags:
        - Beneficiaries
      summary: Get a beneficiary
      description: Retrieves a specific beneficiary by ID.
      parameters:
        - $ref: "#/components/parameters/BeneficiaryId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "200":
          description: Beneficiary details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Beneficiary not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                beneficiaryNotFound:
                  $ref: "#/components/examples/BeneficiaryNotFound"
    delete:
      operationId: deleteBeneficiary
      tags:
        - Beneficiaries
      summary: Delete a beneficiary
      description: Removes a beneficiary and all its payment instructions.
      parameters:
        - $ref: "#/components/parameters/BeneficiaryId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "204":
          description: Beneficiary deleted.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Beneficiary not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                beneficiaryNotFound:
                  $ref: "#/components/examples/BeneficiaryNotFound"

  # ── Payment instructions ──────────────────────────────────────────
  /api/beneficiaries/{beneficiaryId}/payment-instructions:
    post:
      operationId: addPaymentInstruction
      tags:
        - Payment instructions
      summary: Add a payment instruction
      description: Adds a new payment instruction to an existing beneficiary.
      parameters:
        - $ref: "#/components/parameters/BeneficiaryId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/TraceVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentInstructionRequest"
            examples:
              pix:
                summary: Add a PIX (DICT key)
                value:
                  type: "PIX"
                  asset: "BRL"
                  dictKeyType: "CPF"
                  dictKey: "12345678900"
              bankAccount:
                summary: Add a PIX (bank-account routing)
                value:
                  type: "BANK_ACCOUNT"
                  asset: "BRL"
                  bankCode: "001"
                  branch: "0001"
                  accountNumber: "123456"
                  accountType: "CHECKING"
      responses:
        "201":
          description: Payment instruction added. Returns the full beneficiary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeneficiaryResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Beneficiary not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                beneficiaryNotFound:
                  $ref: "#/components/examples/BeneficiaryNotFound"
        "422":
          description: Validation error (invalid instruction type, missing details).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingPaymentInstructionDetails:
                  summary: Payment instruction is missing required fields
                  value:
                    code: "MISSING_PAYMENT_INSTRUCTION_DETAILS"
                    message: "Missing required payment instruction details"
                    details:
                      type: "BANK_ACCOUNT"
                      missingKeys:
                        - "bankCode"
                        - "branch"
                        - "accountNumber"
                        - "accountType"

  /api/beneficiaries/{beneficiaryId}/payment-instructions/{paymentInstructionId}:
    delete:
      operationId: removePaymentInstruction
      tags:
        - Payment instructions
      summary: Remove a payment instruction
      description: Removes a payment instruction from a beneficiary.
      parameters:
        - $ref: "#/components/parameters/BeneficiaryId"
        - $ref: "#/components/parameters/PaymentInstructionId"
        - $ref: "#/components/parameters/TraceVersion"
      responses:
        "204":
          description: Payment instruction removed.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: Beneficiary or payment instruction not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                beneficiaryNotFound:
                  $ref: "#/components/examples/BeneficiaryNotFound"
                paymentInstructionNotFound:
                  summary: Payment instruction does not exist on the beneficiary
                  value:
                    code: "RESOURCE_NOT_FOUND"
                    message: "PaymentInstruction with given parameters [id:pi-a1b2c3d4-5e6f-7890-abcd-ef1234567890] not found"
                    details:
                      resource: "PaymentInstruction"
                      parameters:
                        id: "pi-a1b2c3d4-5e6f-7890-abcd-ef1234567890"
